<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ixq 快速开发框架</title>
    <link href="~/Content/HPlus/css/bootstrap.min.css?v=3.3.6" rel="stylesheet" />
    <link href="~/Content/HPlus/css/font-awesome.min.css?v=4.4.0" rel="stylesheet"/>
    @RenderSection("styles", false)
    <link href="~/Content/HPlus/css/animate.css" rel="stylesheet" />
    <link href="~/Content/HPlus/css/style.css?v=4.1" rel="stylesheet" />
</head>
<body class="gray-bg">
    @RenderBody()
    @Scripts.Render("~/js/phlus/iframe")
    @RenderSection("scripts", false)
</body>
</html>