@model IPropertyEditModel
<div class="form-group">
    <label class="col-sm-3 control-label">@Model.RuntimeProperty.Name：</label>
    <div class="col-sm-8">
        <div class="input-group">
            <input id="@Model.RuntimeProperty.PropertyInfo.Name" name="@Model.RuntimeProperty.PropertyInfo.Name" date="true" type="date" class="form-control" @Html.Raw(Model.RuntimeProperty.IsRequired ? "required=\"\"" : "")/>
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
    </div>
</div>
@Html.Script(
    @<script src="~/Content/Hplus/js/plugins/datapicker/bootstrap-datepicker.js"></script>,
    @<script>
         $().ready(function() {
             $('#@Model.RuntimeProperty.PropertyInfo.Name').datepicker({
                 todayBtn: "linked",
                 keyboardNavigation: false,
                 forceParse: false,
                 calendarWeeks: true,
                 autoclose: true
             });
         });
     </script>
    )
@Html.Styles(
    @<link href="~/Content/Hplus/css/plugins/datapicker/datepicker3.css" rel="stylesheet" />
    )