@model IPageViewModel
@{
    var tableId = Model.EntityType.Name + "_jqGrid";
    var pageTitle = Model.PageConfig.Title ?? Model.EntityType.Name;
    Layout = "~/Areas/Hplus/Views/Shared/_LayoutHplusIframe.cshtml";
}
@section styles{
    <link href="~/Content/Hplus/css/plugins/jqgrid/ui.jqgrid.css" rel="stylesheet" />
    <style>
        /*数据-操作栏 样式调整*/
        .ui-jqgrid tr.jqgrow td:last-child {
            overflow: inherit;
        }

            .ui-jqgrid tr.jqgrow td:last-child > .ibox-tools {
                float: none;
            }

        /*表格溢出隐藏 样式调整*/
        .ui-jqgrid {
            overflow: inherit;
        }

        .table-responsive {
            overflow: inherit;
        }

        .ui-jqgrid .ui-jqgrid-bdiv {
            overflow: inherit;
        }

        /*按钮样式*/
        .btn-white {
            border-radius: 4px !important;
        }

        .dropdown-menu {
            border-radius: 4px !important;
            min-width: 110px;
        }
    </style>
}
@RenderSection("pageStyles", false)
<div class="wrapper wrapper-content animated fadeIn">
    @RenderBody()
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>@pageTitle</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-primary" type="button" onclick="Insert@(Model.EntityType.Name)()">
                                    <i class="fa fa-plus"></i>
                                    新增
                                </button>
                                <button class="btn btn-warning" type="button" onclick="getSelectedRows()">
                                    <i class="fa fa-remove"></i>
                                    删除
                                </button>
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-info" type="button">
                                    <i class="fa fa-arrow-up"></i>
                                    导入
                                </button>
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-arrow-down"></i>
                                    导入
                                </button>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-3">
                            <div class="input-group">
                                <input type="text" id="search_data" class="form-control"> <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" onclick="SearchFor()">
                                        搜索
                                    </button>
                                </span>
                            </div>
                        </div>
                        <script type="text/javascript">
                            function SearchFor(){
                                var data=document.querySelector("search_data");
                                //$.ajax({}); //搜索数据
                                //更新jqgrid插件数据
                            }
                        </script>
                    </div>
                    <hr>
                    <div class="jqGrid_wrapper">
                        <table id="@tableId"></table>
                        <div id="pager_@tableId"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Content/Hplus/js/plugins/jqgrid/i18n/grid.locale-cn.js"></script>
    <script src="~/Content/Hplus/js/plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script>
        var colNames = @Html.Raw(Model.GetColNames());
        var colModel = @Html.Raw(Model.GetColModel());
        colNames.push("操作");
        colModel.push({name : '@(Model.EntityType.Name)_options', width : 60, align : 'center', sortable: false});
        function Insert@(Model.EntityType.Name)() {
            layer.open({
                title: '新增 @pageTitle',
                type: 2,
                area: ['800px', '600px'],
                maxmin: true,
                resize: true,
                content: '@Url.Action(Model.PageConfig.EditAction)'
            });
        }
        function Detail@(Model.EntityType.Name)(id){

            layer.open({
                title: '@pageTitle 详情',
                type: 2,
                area: ['800px', '600px'],
                maxmin: true,
                resize: true,
                content: '@Url.Action(Model.PageConfig.DetailAction)/'+id
            });
        };
        function Edit@(Model.EntityType.Name)(id) {
            layer.open({
                title: '编辑 @pageTitle',
                type: 2,
                area: ['800px', '600px'],
                maxmin: true,
                resize: true,
                content: '@Url.Action(Model.PageConfig.EditAction)/' + id
            });
        };
        function Delete@(Model.EntityType.Name)(ids){
            layer.confirm('是否删除？', {
                btn: ['确认','取消'] //按钮
            }, function(){
                //$.ajax({});提交到后台执行删除
                layer.msg('已删除', {icon: 1});
            }, function(){
                return;
            });
        }
        function reloadData() {
            $("#@tableId").trigger("reloadGrid");
        }
    </script>
    @RenderSection("pageScripts", false)
    <script>
        $(document).ready(function() {
            $.jgrid.defaults.styleUI = 'Bootstrap';
            $("#@tableId").jqGrid({
                mtype: 'post',
                url: '@Url.Action(Model.PageConfig.DataAction)',
                datatype: "json",
                height: 'auto',
                autowidth: true,
                shrinkToFit: true,
                rowNum: @Model.Pagination.PageSize,
                rowList: @Model.Pagination.GetPageSizeList(),
                sortorder: '@Model.Pagination.OrderDirection',
                sortname: '@Model.Pagination.OrderField',
                rownumbers: @Model.PageConfig.ShowRowNumber.ToString().ToLower(),
                multiboxonly: @Model.PageConfig.MultiBoxOnly.ToString().ToLower(),
                multiselect: @Model.PageConfig.MultiSelect.ToString().ToLower(),
                page: @Model.Pagination.PageCurrent,
                colNames: colNames,
                colModel: colModel,
                gridComplete : function() {
                    var ids = jQuery("#@tableId").jqGrid('getDataIDs');
                    for ( var i = 0; i < ids.length; i++) {
                        //展开按钮
                        var editHtml = "<div class=\"input-group-btn\">"+
                                 "<button tabindex=\"-1\" class=\"btn btn-white\" type=\"button\" onclick=\"Edit@(Model.EntityType.Name)('"+ids[i]+"')\">编辑</button>";

                        var detailHtml = "<button data-toggle=\"dropdown\" class=\"btn btn-white dropdown-toggle\" type=\"button\" aria-expanded=\"true\"><span class=\"caret\"></span>"+
                                 "</button><ul class=\"dropdown-menu pull-right\">"+
                                 "<li><a href=\"javascript:void(0);\" onclick=\"Detail@(Model.EntityType.Name)('"+ids[i]+"')\">"+
                                 "<i class=\"fa fa-file-o\"></i>详情</a></li>";

                        var delHtml = "<li><a href=\"javascript:void(0);\" onclick=\"Delete@(Model.EntityType.Name)('"+ids[i]+"')\">"+
                                 "<i class=\"fa fa-remove\"></i>删除</a></li></ul></div>"+
                                 "</ul></div>";

                        jQuery("#@tableId").jqGrid('setRowData', ids[i],
                            {
                                @(Model.EntityType.Name)_options :editHtml+detailHtml+delHtml
                            });
                    }
                },
                loadComplete:@(Model.PageConfig.OnLoadCompleteScript ?? "false"),
                pager: "#pager_@(tableId)",
                prmNames: {
                    page: 'pageCurrent',
                    rows: 'pageSize',
                    sort: 'orderField',
                    order: 'orderDirection',
                    search: '_search'
                },
                viewrecords: true,
                loadError: function(xhr, status, error) {
                    if (xhr.responseJSON.error) {
                        layer.open({
                            type: 0,
                            content: xhr.responseJSON.message
                        });
                    }
                }
            });

            // Add responsive to jqGrid
            $(window).bind('resize', function() {
                var width = $('.jqGrid_wrapper').width();
                $('#@tableId').setGridWidth(width);
            });
        });

    </script>
}