@using Ixq.Extensions
@model IPropertyEditModel
@{
    var hasFlags = Model.EntityProperty.PropertyType.HasAttribute<FlagsAttribute>();
    var enumItem = Model.EntityProperty.PropertyType.GetEnumItems();
}
<div class="form-group">
    <label class="col-sm-3 control-label">@Model.EntityProperty.Name：</label>
    <div class="col-sm-8">
        @if (hasFlags)
        {
            var i = 0;
            foreach (var item in enumItem)
            {
                <div class="checkbox checkbox-inline">
                    <input class="@(Model.EntityProperty.PropertyInfo.Name)" type="checkbox" id="@(Model.EntityProperty.PropertyInfo.Name)_@i" @Html.Raw(((dynamic)Model.Value).HasFlag((Enum)Enum.ToObject(Model.EntityProperty.PropertyType, enumItem[i].Value)) ? " checked=\"checked\"" : "") value="@item.Value" />
                    <label for="@(Model.EntityProperty.PropertyInfo.Name)_@i"> @item.Name </label>
                </div>
                i++;
            }
            <input type="hidden" id="@(Model.EntityProperty.PropertyInfo.Name)" name="@(Model.EntityProperty.PropertyInfo.Name)" value="@((int)Model.Value)" />
            @Html.Script(
                @<script>
                     $(document).ready(function() {
                         var hideValue = $('#@(Model.EntityProperty.PropertyInfo.Name)');
                         var checkBoxList = $('input[type="checkbox"][class="@(Model.EntityProperty.PropertyInfo.Name)"]');
                         checkBoxList.change(function() {
                             var num = 0;
                             checkBoxList.each(function(index, element) {
                                 if (element.checked)
                                     num += new Number(element.value);
                             });
                             hideValue.val(num);
                         });
                     });
                </script>
            )
        }
        else
        {
            <select class="form-control" name="@Model.EntityProperty.PropertyInfo.Name" @Html.Raw(Model.EntityProperty.IsRequired ? "required=\"required\"" : "")>
                @if (!Model.EntityProperty.IsRequired)
                {
                    <option>请选择</option>
                }
                @{
                    var selected = string.Empty;
                }
                @foreach (var item in enumItem)
                {
                    if (item.Value == (int) Model.Value)
                    {
                        selected = "selected";
                    }
                    else
                    {
                        selected = "";
                    }
                    <option @selected value="@item.Value">@item.Name</option>
                }
            </select>
        }
    </div>
</div>