@using Ixq.Extensions
@model IPropertyEditModel
@{
    var isHasFlags = Model.EntityProperty.PropertyType.HasAttribute<FlagsAttribute>();
    var enumItem = TypeExtensions.GetEnumItems(Model.EntityProperty.PropertyType);
}
<div class="form-group">
    <label class="col-sm-3 control-label">@Model.EntityProperty.Name：</label>
    <div class="col-sm-8">
        @if (isHasFlags)
        {
            var i = 0;
            foreach (var item in enumItem)
            {
                <div class="checkbox checkbox-inline">
                    <input class="@(Model.EntityProperty.PropertyInfo.Name)" type="checkbox" id="@(Model.EntityProperty.PropertyInfo.Name)_@i" value="@item.Value" />
                    <label for="@(Model.EntityProperty.PropertyInfo.Name)_@i"> @item.Name </label>
                </div>
                i++;
            }
            <input type="hidden" id="@(Model.EntityProperty.PropertyInfo.Name)" name="@(Model.EntityProperty.PropertyInfo.Name)" value="@Model" />
        }
        else
        {
            <select class="form-control" name="@Model.EntityProperty.PropertyInfo.Name" @Html.Raw(Model.EntityProperty.IsRequired ? "required=\"\"" : "")>
                @if (!Model.EntityProperty.IsRequired)
                {
                    <option>请选择</option>
                }
                @foreach (var item in enumItem)
                {
                    <option value="@item.Value">@item.Name</option>
                }
            </select>
        }
    </div>
</div>
@Html.Script(
    @<script>
        $(document).ready(function () {

            $('input[type="checkbox"][class="@(Model.EntityProperty.PropertyInfo.Name)"]').change(function () {
                console.log($(this).prop('checked'));
            });

        });
    </script>
    )