@model IPropertyEditModel
<div class="form-group">
    <label class="col-sm-3 control-label">@Model.RuntimeProperty.Name：</label>
    <div class="col-sm-8">
        <input id="@Model.RuntimeProperty.PropertyInfo.Name" name="@Model.RuntimeProperty.PropertyInfo.Name" date="true" type="date" class="form-control" @Html.Raw(Model.RuntimeProperty.IsRequired ? "required=\"\"" : "") />
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    </div>
</div>
@Html.Script(Model.RuntimeProperty.PropertyInfo.Name + "_1",
    @<script src="~/Content/Hplus/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    )

@Html.Styles(Model.RuntimeProperty.PropertyInfo.Name + "_1",
    @<link href="~/Content/Hplus/css/plugins/datapicker/datepicker3.css" rel="stylesheet" />
    )