@model IPropertyEditModel
<div class="form-group">
    <label class="col-sm-3 control-label">@Model.RuntimeProperty.Name：</label>
    <div class="col-sm-8">
        <div class="input-group">
            <input id="@Model.RuntimeProperty.PropertyInfo.Name" name="@Model.RuntimeProperty.PropertyInfo.Name" type="text" class="form-control" @Html.Raw(Model.RuntimeProperty.IsRequired ? "required=\"\"" : "") />
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
    </div>
</div>
@Html.Script(Model.RuntimeProperty.PropertyInfo.Name + "_1",
    @<script src="~/Content/Hplus/js/plugins/datapicker/bootstrap-datetimepicker.min.js"></script>
    )
@Html.Script(Model.RuntimeProperty.PropertyInfo.Name + "_2",
    @<script src="~/Content/Hplus/js/plugins/datapicker/bootstrap-datetimepicker.zh-CN.js"></script>)

@Html.Script(Model.RuntimeProperty.PropertyInfo.Name + "_3",
    @<script>
        $().ready(function () {
            $('#@Model.RuntimeProperty.PropertyInfo.Name').datetimepicker({
                todayBtn: "linked",
                autoclose: true,
                language: 'zh-CN',
                startView: 'day',
                minView: 'hour',
                format: 'hh:ii'
            });
        });
    </script>
     )

@Html.Styles(Model.RuntimeProperty.PropertyInfo.Name + "_1",
    @<link href="~/Content/Hplus/css/plugins/datapicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    )
